<div id='game_<%= game.id %>'>
  <div class="display" id='status'>
      <%= raw game.decorided_status %>
  </div>
  <div class="toe-container" data-controller='desk' data-desk-id-value="<%= game.id %>" >
      <% game.state.each_with_index do |tile, i| %>
        <div id='<%= i %>'  class="tile player<%= tile %>" data-controller='game' data-action="click->game#make_turn"><%= tile %></div>
      <% end %>
  </div>
  <div class="display announcer hide"></div>
  <div class="controls">
      <button id="reset" data-controller='game' data-action="click->game#start">Reset</button>
  </div>
</div>
